table {
    width:80%;
    margin:auto;
}

table img {
    max-width: 100px;
}

li {
    list-style: none;
}

th {
    text-align: start;
}

thead {
    height:50px;
}

.line {
    height:0.5px;
    background-color: rgb(0,0,0, 0.1);
}

tbody td {
    height:150px;
}

tbody tr:nth-of-type(2) td:first-of-type {
    width:115px;
}

tbody div:first-of-type {
    display: flex;
    background-color: white;
    width: 100px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.qtt a {
    display: flex;
    font-size: 22px;
    border: none;
    color: black;
    border-radius: 50%;
    width: 22px;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
    align-items: center;
}

.qtt a:hover {
    background:rgb(0,0,0, 0.1);
}

tbody a i {
    color:black;
    transition:.3s;
}

tbody a:hover i {
    color:rgb(176, 56, 56);
    transform: scale(1.1);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_name {
    color: black;
    transition:.2s;
    cursor:pointer;
}

.product_name:hover {
    opacity:70%;
}

/* Clear Basket btn */
table ~ div:first-of-type a:first-of-type {
    color: white;
    background-color:rgb(176, 56, 56);
    padding: 10px 30px;
    border-radius: 2px;
    transition:.3s;
    display: flex;
}

table ~ div a:hover {
    translate:5px;
}

/* Pay btn */
table ~ div:first-of-type a:nth-of-type(2) {
    color: white;
    background-color:rgb(176, 56, 56);
    padding: 10px 30px;
    border-radius: 2px;
    transition:.3s;
    display: flex;
}


/* Past orders btn */
table ~ div:first-of-type a:last-of-type {
    color: white;
    background-color:rgb(176, 56, 56);
    padding: 10px 30px;
    border-radius: 2px;
    transition:.3s;
    display: flex;
}

table ~ div:first-of-type {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin: 3% 10%;
}

.oldPrice {
    position:initial;
    font-size: 14px;
}

.salePrice {
    font-size: 18px;
}

tr:last-of-type td {
    height:fit-content;
}

table tr:last-of-type td {
    font-size: 22px;
}

table tr:last-of-type td:last-of-type {
    font-weight: 600;
}

.price {
    font-size: 18px;
}

td > .price {
    font-weight: 600;
}