h1 {
    color:#E35353;
}

div li:last-of-type {
    position:relative;

}

div ul {
    position: relative;
}

ul p {
    background-color: #E35353;
    color:white;
    padding: 4px 10px;
    position: absolute;
    left:0;
    top:-15px;
}